@import "tailwindcss";

@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('./assets/fonts/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KCC-Sonkeechung';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KCC-Sonkeechung.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "'Pretendard Variable'", "sans-serif";
  --font-gs: "GangwonEduSaeeum_OTFMediumA";
  --font-son: "KCC-Sonkeechung";
  --light-purple: #e8e4ec;

  --breakpoint-3xl: 1920px;

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  /* ... */
}

body {
    @apply font-sans;
}
